server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-container-logs
    static_configs:
      - targets: ['localhost']
        labels:
          job: docker-logs
          __path__: /var/log/docker/containers/*/*.log
